.cmp-list__item {
    list-style-type: none;
	max-width:20%;
    margin-right: 10px;
}

.cmp-list {
	display:flex;
    flex-wrap: wrap;
}

.cmp-teaser__title {
	font-size: 1.5rem;
}

.cmp-image {
	min-height: 215px;
}