<sly
	data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
	data-sly-call="${clientLib.css @categories='socialnav'}"></sly>

<div class="content">
	<div class="socialmedia" itemscope="itemscope">
		<ul class="socialmedia__list">
			<li class="socialmedia__item"><a href="#top"><img
					class="socialmedia__icon" src="/content/dam/auki/529/UpArrow.png"
					alt="Up Arrow" width="30px" height="30px" /></a></li>
			<li class="socialmedia__item"><a href="#"
				itemprop="Capital group feedback"><img class="socialmedia__icon"
					src="/content/dam/auki/529/Feedback.jpg" alt="Feedback Logo"
					width="30px" height="30px" /></a></li>
			<li class="socialmedia__item"><a href="#"
				itemprop="Capital group Mail"><img class="socialmedia__icon"
					src="/content/dam/auki/529/MailLogo.png" alt="Mail Logo"
					width="30px" height="30px" /></a></li>
			<li class="socialmedia__item"><a href="#"
				itemprop="Capital group facebook"><img class="socialmedia__icon"
					src="/content/dam/auki/529/FacebookLogo.png" alt="facebook Logo"
					width="30px" height="30px" /></a></li>
			<li class="socialmedia__item"><a href="#"
				itemprop="Capital group linkedin"><img class="socialmedia__icon"
					src="/content/dam/auki/529/LinkedinLogo.png" alt="Linkedin Logo"
					width="30px" height="30px" /></a></li>
			<li class="socialmedia__item"><a href="#"
				itemprop="Capital group twitter"><img class="socialmedia__icon"
					src="/content/dam/auki/529/TwitterLogo.png" alt="Twitter Logo"
					width="30px" height="30px" /></a></li>
		</ul>
	</div>
</div>